<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/style.css">
  </head>
  
  <body>
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>

      <!-- Add section for Mars News -->
      <div class="row" id="mars-news" style="background-color: rgb(168, 107, 71);">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h2>Latest Mars News</h2>
              <h4 class="media-heading">{{ mars.news_title }}</h4>
              <p>{{ mars.news_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Section for Featured Image and Facts table -->
      <div class="col-md-8 col-md-8 col-md-8">
        <div class="row" id="mars-featured-image" style="background-color: rgb(255, 177, 132);">
          <h2>Featured Mars Image</h2>
          <img
          src="{{mars.featured_image | default('static/images/error.png', true) }}"
          class="img-responsive"
          alt="Responsive image"
          />
        </div>   
      </div>

        
          <!-- Mars Facts -->
      <div class="col-md-4">
        <div class="row" id="mars-facts" style="background-color: rgb(168, 107, 71);">
          <h2>Mars Facts</h4>
            <table class="table table-striped">
              {{ mars.mars_facts | safe }}
            </table>
        </div>
      </div>

      <!-- Mars Hemisphere -->
      <div class="row" id="mars-hemispheres">
        <div class="page-header" style="background-color: rgb(255, 177, 132);">
          <h2 class="text-center">
            Mars Hemispheres
          </h2>
        </div>

        {% for hemisphere_mars in mars.hemisphere_data %}
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="{{hemisphere_mars.img_url | default('static/images/error.png', true)}}" alt="...">
            <div class="caption">
              <h3>{{ hemisphere_mars.title }}</h3>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>

      <blockquote>
        <p style="text-align: left;">Mars is there, waiting to be reached</p>
        <footer> <cite title="Source Title" style="font-size: 30; color: rgb(73, 73, 73);">Buzz Aldrin</cite></footer>
      </blockquote>

    </div>
  </body>
</html>
