<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>

      <!-- Add section for Mars News -->
      <div class="row" id="mars-news">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h2>Latest Mars News</h2>
              <h4 class="media-heading">{{ mars.news_title }}</h4>
              <p>{{ mars.news_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Section for Featured Image and Facts table -->
      <div class="row" id="mars-featured-image">
        <div class="col-md-8">
          <h2>Featured Mars Image</h2>
             <p>{{ mars.img_url }}</p>
        </div>
      
        <!-- <img src="https://marshemispheres.com/images/full.jpg" alt="Cerberus Hemisphere Enhanced" style="width:300px;height:300px;">
        
        <img src="https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg" alt="Schiaparelli Hemisphere Enhanced" style="width:300px;height:300px;">

        <img src="https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg" alt="Syrtis Major Hemisphere Enhanced" style="width:300px;height:300px;">

        <img src="https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg" alt="Valles Marineris Hemisphere Enhanced" style="width:300px;height:300px;"> -->
      </div>

        
          <!-- Mars Facts -->
      <div class="row" id="mars-facts">
        <div class="col-md-4">
          <h2>Mars Facts</h4>
            <p>{{ mars.mars_facts }}</p>

        </div>
        <!-- <table border="1" class="dataframe"> 
          <thead>  
            <tr style="text-align: right;">
              <th></th>
              <th>Mars</th>      
              <th>Earth</th>   
            </tr>
            <tr>     
              <th>Description</th>      
              <th></th>      
              <th></th>   
            </tr>  
          </thead>  
          <tbody>
            <tr>
              <th>Mars - Earth Comparison</th>
              <td>Mars</td>      
              <td>Earth</td>    
            </tr>    
            <tr>
              <th>Diameter:</th>      
              <td>6,779 km</td>     
              <td>12,742 km</td>    
            </tr>   
            <tr>
              <th>Mass:</th>   
              <td>6.39 × 10^23 kg</td>      
              <td>5.97 × 10^24 kg</td>    
            </tr>    
            <tr>      
              <th>Moons:</th>      
              <td>2</td>      
              <td>1</td>    
            </tr>   
            <tr>      
              <th>Distance from Sun:</th>      
              <td>227,943,824 km</td>     
              <td>149,598,262 km</td>    
            </tr>    
            <tr>      
              <th>Length of Year:</th>      
              <td>687 Earth days</td>      
              <td>365.24 days</td>    
            </tr>    
            <tr>      
              <th>Temperature:</th>      
              <td>-87 to -5 °C</td>      
              <td>-88 to 58°C</td>   
            </tr> 
          </tbody>
        </table> -->
      </div>
    </div>
  </body>
</html>
